<!-- <div class="outer-border" style="font-size:larger">
  <div class="link" style="background-color: #6250ad;">
      <ul>
          <li>
              <a routerLink ="home"routerLinkActive="active">Home</a>
          </li>
          <li>
              <a routerLink ="content" routerLinkActive="active">Content</a>
          </li>
          <li>
              <a routerLink ="about"routerLinkActive="active">About</a>
          </li>
          <li>
              <div class="drop-down">
                  <li class="project">projects</li>
                  <div class="dropdown-content">
                  <li>
                      <a routerLink ="empform"routerLinkActive="active">Emp-form</a>
                  </li> 
          <li>
              <a routerLink ="form"routerLinkActive="active">Form</a>
          </li>
          <li>
              <a routerLink ="Bookform" routerLinkActive="active">Bookform</a>
          </li>
          <li>
              <a routerLink ="book-list" routerLinkActive="active">Book-list</a>
          </li>
                  
              </div>
          </div>
          </li>
      </ul>
  </div>
  </div> -->
   <router-outlet></router-outlet>
   <!-- <app-bookform></app-bookform> -->